= form_for (setup_rentbill(@rentbill)) do |f|
  - if @rentbill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rentbill.errors.count, "error")} prohibited this rent bill from being saved:"
      %ul
        - @rentbill.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :bill_date
    = f.date_select :bill_date
  .field
    = f.label :tenant_id, 'Tenant'
    = f.collection_select :tenant_id, Tenant.all, :id, :lastname
  = f.fields_for :rentbill_line_items do |line_item_f| 
    .field
      = line_item_f.label :description
      = line_item_f.text_field :description
    .field
      = line_item_f.label :category
      = line_item_f.text_field :category
    .field
      = line_item_f.label :amount
      = line_item_f.text_field :amount
  .actions
    = f.submit 'Save'
