= form_for @rentbill do |f|
  -if @rentbill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rentbill.errors.count, "error")} prohibited this manager from being saved:"
      %ul
        - @rentbill.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :bill_date
    = f.date_select :bill_date
  .field
    = f.label :tenant_id, 'Tenant'
    = f.collection_select(:tenant_id, Tenant.all, :id, :lastname)
  -# .field
    %h3 Line Item
    = form_for([@rentbill, @rentbill.rentbill_line_items.build]) do |g|
      .field
        = g.label :description
        = g.text_field :description
      .field
        = g.label :category
        = g.text_field :category
      .field
        = g.label :amount
        = g.text_field :amount
      .actions
        = g.submit 'Add'
    
  .actions
    = f.submit 'Save'
