%h1 Listing managers

- if notice
  %p{:id=>"notice"}= notice 

%table
  %tr
    %th Email
    /   %th Password Digest
    %th Lastname
    %th Firstname
    %th Phonenumber
    %th City
    %th State
    %th Zip
    %th Street
    %th
    %th
    %th

  - @managers.each do |manager|
    %tr
      %td= manager.email
      /      %td= manager.password_digest
      %td= manager.lastname
      %td= manager.firstname
      %td= manager.phonenumber
      %td= manager.city
      %td= manager.state
      %td= manager.zip
      %td= manager.streetaddress
      %td= link_to 'Show', manager
      %td= link_to 'Edit', edit_manager_path(manager)
      %td= link_to 'Destroy', manager, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Manager', new_manager_path
