%p#notice= notice

%p
  %b Description:
  = @activity.description
%p
  %b Date:
  = @activity.date
%p
  %b Url:
  = @activity.url
%p
  %b Urgency:
  = @activity.urgency

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
