!!! 5
%html
  %head

    %title 'youPM'
    %meta{:name => 'robots', :content => 'index,follow'}
    %meta(charset="utf-8")

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %body
      .topbar(data-dropdown="dropdown")
        .fill
          .container
            =link_to 'youPM', root_url, class: :brand
            %ul.nav
              %li{active_class(:company )}= link_to 'Your Company', '/managers'
              %li{active_class(:offers)}= link_to 'Properties', '/properties'
              %li{active_class(:affiliates)}= link_to 'Tenants', '/tenants'
              %li{active_class(:reports)}= link_to 'Reports', '#'
              %li{active_class(:messages )}= link_to 'Messages', '/messages'
            %ul.nav.secondary-nav
              %li.dropdown
                -if session[:manager_id] == nil
                  = link_to 'Logged out', '#', class: 'dropdown-toggle'
                  %ul.dropdown-menu
                    %li= link_to 'Login', '/login', method: :post
                    %li= link_to 'Sign up', '/managers/new'
                -else
                  = link_to 'Logged in as ' + Manager.find(session[:manager_id]).email, '#', class: 'dropdown-toggle'     
                  %ul.dropdown-menu
                    %li= link_to 'Switch to another account', '#'
                    %li.divider
                    %li= link_to 'Logout', logout_path, method: :delete
                    %li.divider
                    %li= link_to 'Admin', '/admin/index'
      .container
        .content
          = yield
